* text=auto eol=lf

/.editorconfig export-ignore
/.env export-ignore
/.env.* export-ignore
/.cache export-ignore
/.gitattributes export-ignore
/.git export-ignore
/.github export-ignore
/.gitignore export-ignore
/.idea export-ignore
/.php-cs-fixer.cache export-ignore
/.phpcs-cache export-ignore
/.phpstan.cache export-ignore
/.phpunit.cache export-ignore
/.phpunit.result.cache export-ignore
/.vscode export-ignore
/CHARTER.md export-ignore
/artifacts export-ignore
/build export-ignore
/composer.lock export-ignore
/coverage export-ignore
/dist export-ignore
/docs export-ignore
/generated export-ignore
/node_modules export-ignore
/phpcs.xml export-ignore
/phpcs.xml.dist export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/phpunit.xml.dist export-ignore
/package-lock.json export-ignore
/pnpm-lock.yaml export-ignore
/tests export-ignore
/tmp export-ignore
/tools export-ignore
/var export-ignore
/vendor export-ignore
/yarn.lock export-ignore
